/*  your css code here. If applicable */
#heading{
	text-align:center;
}
#image1{
	height:200px;
	margin-top:10px;
	margin-left:0px;
	margin-bottom:10px;
}
.para{
	color:blue;
}
#image2{
	height:200px;
	margin-top:10px;
	margin-left:0px;
	margin-bottom:10px;
}
#image3{
	height:200px;
	margin-top:10px;
	margin-left:0px;
	margin-bottom:10px;
}